.fixed_top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9990;
  background-color: var(--secondary-color);
}
.start{
    background-color: transparent !important;
}

.hvr {
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 25px !important;
  color: white;
  margin: 0px 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 15px;
  transition: 0.1s all ease;
}
.hvr:hover {
  color: var(--primary-color);
}
.button {
  padding: 12px 12px;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--primary-color) !important;
  text-transform: uppercase;
  color: #fff;
}
