.info{
    background-color: var(--secondary-color);
}
.footer{
    background-color: #1A252F;
    font-size: 12px;
    padding-top: 25px !important;
}
.info a{
    color: #fff;
    font-size: 22px !important;
    border: 2px solid #fff;
    padding: 10px 10px;
    margin: 5px 8px;
    border-radius: 50%;
    transition: 0.2s all ease;
}
.info a:hover{
    color: var(--primary-color);
    background-color: #fff;
    /* border: 1px solid var(--primary-color); */

}
